<div>
	<!-- Your name <input type="text" ng-model="yourname" placeholder="Word">
	<br />
	Hello {{ yourname || 'Word'}}!
	<p>1 + 2 = {{ 1 + 2 }}</p>
	<input type="text" ng-model="num1"> + <input type="text" ng-model="num2"> = {{ num1 + num2 }}
	<p>{{phones.length}}</p>
	
	<label for="">Search:</label>
	<input type="text" ng-model="search">
	<h5>{{thinged.length}}</h5>
	<li ng-repeat="thing in thinged = ( things | filter:search)">{{ thing.name }} {{ thing.use }}</li>

	<h3>Controller</h3>
	<label for="">Name:</label>
	<input type="text" ng-model="name" placeholder="Ender a name here">
	<br>
	<label for="">Age:</label>
	<input type="text" ng-model="age" placeholder="Ender a number here">
	
	<h4>{{ name }} {{ age }}</h4> -->
<!--	<hr>
	<h3>ngShow ngHide</h3>
	<label for="">
		show? <input type="checkbox" ng-model="checked">
	</label>
	 <h4 ng-show="checked">xiaoche</h4> 
	<label for="">
		English?
		<input type="checkbox" ng-model="checked" ng-true-value="123" ng-false-value="234">
	</label>
	
	<h4 ng-show="checked">{{eng}}</h4>-->
		
	<h3>ngRepeat 2</h3>
	<input type="text" ng-model="search">
	<ul>
		<li ng-repeat="people in peoples | filter:search">
			{{ people.name }} {{ people.sex }} {{ people.age }}
			<span class="people-first-{{ $first }}" ng-show="$first">first</span>
			<span class="people-middle-{{ $middle }}" ng-show="$middle">middle</span>
			<span class="people-last-{{ $last }}" ng-show="$last">last</span>
			<span class="people-odd-{{ $odd }}" ng-show="$odd">odd</span>
			<span class="people-even-{{ $even }}" ng-show="$even">even</span>
		</li>
	</ul>
	<style>
		.people-first-true{
			color: red;
		}
		.people-middle-true{
			color: yellow;
		}
		.people-last-true{
			color: green;
		}
		.people-odd-true{
			color: blue;
		}
		.people-even-true{
			color: purple;
		}
		.even-true{
			color: purple;
		}
	</style>
	<div class="well span6">
		<div>
			<lable class="control-lable" for="name">Name:</lable>
			<input type="text" id="name" placeholder="Name" ng-model="pName">
				
			<label for="age" class="control-label">Age:</label>
			<input type="number" id="age" placeholder="Age" ng-model="pAge">
			<br />
			<button class="btn" ng-click="add()">Add</button>
		</div>
		<h3>共有 {{peoples.length}} 人 </h3>
		<h4 ng-repeat-start="people in peoples" class="even-{{ $even }}">{{ people.name }}</h4>
		<div class="alert alert-info" ng-repeat-end>
			<button class="close" ng-click="remove($index);">&times;</button>
			{{ people.name }} <span class="badge badeg-important">{{ people.age }}</span>
		
		</div>
		
		
	</div>


</div>